* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #3A3A3A;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #2A2A2A;
    font-family: 'Verdana';
}

.name * {
    background-color: #2A2A2A;
}

.name {
    color: #0E5AF3;
    letter-spacing: 5px;
    font-size: 20;
}

.nav-links * {
    background-color: #2A2A2A;
}
.nav-links{
    background-color: #2A2A2A;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #0E5AF3;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 13px;
}

.menicon {
    display: none;
    cursor: pointer;
}

.menicon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:480px){
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#2A2A2A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .menicon {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
